html
  body
    div(style= {width:'520px', padding:'20px'})
      div                                
        strong=film.name + ' / '+ film.nameRu +' '+ film.year
        if film.poster
            img(src='https://image.tmdb.org/t/p/w342'+film.poster)
        else if film.kp
            img(src='http://st.kp.yandex.net/images/film_iphone/iphone360_'+film.kp+'.jpg') 
      div=film.description
    if film.videos
      div='Trailers'
        ul
          each video in film.videos
            li
              a(href='http://youtube.com/watch?v='+video.id)=video.name
              
    div='Torrents'
      ul
        each torrent in film.torrents
          li
            a(href=torrent.magnet)=torrent.title